#contenedor-beneficios{
	width: 100%;
	text-align: center;
}

#contenedorBeneficios{
	position: relative;
	width: 100%;
	height: 450px;
	text-align: center;
}

h1{
	width: 100%;
    margin: 20px 0px 45px;
}

table.tablaBeneficios{	
	display: block;
    border: 3px solid rgba(130,32,15,0.59);
    width: 50%;
    height: 50%;
    margin: auto;    
}
table.tablaBeneficios tr:nth-child(even) {
    background-color: rgba(103,101,101,.3);
}
table.tablaBeneficios tr:nth-child(odd) {
   background-color:#fff;
}
table.tablaBeneficios .encabezado1 {
    background-color: black;
    color: white;
    text-align: center;
}
table.tablaBeneficios #encabezado2 {
    background-color: rgba(130,32,15,0.59);
    color: white;
    font-style: italic;
    text-align: center;
}

.table-hover{
    position: relative;
    left: 50%;
    margin-left: -25%;
    border: 1px solid green;
    background-color: rgba(0,150,0,0.3);
    width: 50%;
    text-align: left;
}

@media screen and (max-width: 768px){
    table.tablaBeneficios{
        width: 85%;
    }
}