@charset "UTF-8";
/*

Autores ==================================== David Cabra Pati├▒o
	    ==================================== Juan Pablo Rojas Villa
*/
/*============================================================*/
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-image: url(../img/patron.png); }

header {
  text-align: center;
  background-image: url(../img/patron.jpg); }

nav {
  border: 1px solid black;
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: block;
  background-color: #008c00 !important;
  white-space: nowrap; }
  nav a {
    color: azure !important;
    display: inline-block;
    width: 25%;
    height: 39px;
    text-align: center;
    text-decoration: none !important;
    font-size: 20px; }
  nav a:hover {
    background-color: rgba(0, 0, 250, 0.6) !important; }

@media screen and (max-width: 768px) {
  nav {
    height: auto; }
    nav a {
      display: block;
      width: 100%; }
    nav a:not(:last-child) {
      border-bottom: solid 1px black; } }
.division {
  margin: 0px !important;
  width: 100%; }

.logo {
  width: 29%; }
  .logo img {
    margin: 10px;
    width: 335px; }

#titulo {
  height: 200px; }
  #titulo p {
    margin: 40px 0px 0px;
    font-size: 40px; }

#titulo-1 {
  color: rgba(0, 6, 255, 0.6);
  font-family: fantasy; }

#titulo-2 {
  color: rgba(15, 54, 255, 0.6);
  font-family: cursive;
  font-size: 35px; }

hr {
  margin: 0px;
  color: rgba(0, 0, 150, 0.6);
  width: 200%;
  border-style: dashed; }

footer {
  text-align: center;
  background-image: url(../img/fondoFooter.png);
  background-position: 0px -30px;
  background-repeat: no-repeat;
  background-size: 100% 250px;
  height: 190px; }

.iconos {
  height: 238px;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center; }
  .iconos:hover {
    color: blue; }

#icono1 {
  background-image: url(../img/businessman.png); }
  #icono1:hover {
    background-image: url(../img/businessmanB.png); }

#icono2 {
  background-image: url(../img/family.png); }
  #icono2:hover {
    background-image: url(../img/familyB.png); }

#icono3 {
  background-image: url(../img/herbal.png); }
  #icono3:hover {
    background-image: url(../img/herbalB.png); }

.texto {
  text-align: center;
  position: absolute;
  margin-top: 150px; }

.tituloContenido {
  position: relative;
  font-size: 32px;
  color: rgba(255, 124, 0, 0.75);
  top: 5px;
  text-align: center; }

/* A lo siguiente se le debe hacer Refactor para disminuir la cantidad de l├¡neas*/
.marcaAnimada {
  position: absolute;
  width: 128px;
  height: 128px;
  display: inline-block;
  top: 35px; }

#marca1 {
  height: 128px;
  background: url(../img/metroA.png) no-repeat center;
  width: 33%; }

#marca1:hover {
  background: url(../img/metroN.png) no-repeat center;
  width: 33%; }

#marca2 {
  height: 128px;
  background: url(../img/busA.png) no-repeat center;
  width: 33%; }

#marca2:hover {
  background: url(../img/busN.png) no-repeat center;
  width: 33%; }

@media screen and (max-width: 965px) {
  #marca1, #marca2 {
    display: none; }

  #titulo {
    width: 100%; } }

#contenidosUser{
  z-index: 1;
  font-size:22px;
  text-align: center;
  width: 100%;
  height: 4%;
  background-color: rgba(30,80,160,0.8);
  position: fixed;
  font-style: bold;
}

.log:hover{
  cursor: pointer;
  font-variant: small-caps;
}

/*# sourceMappingURL=header.css.map */
