$hundred-percent: 100%;

#contenedor-index{
	width: $hundred-percent;
	height: 100%;
}

#contenedor{	
	width: $hundred-percent;
	height: 700px;
	margin: 20px auto;
	margin-bottom: 0px;
	max-width: 1000px;
}

.imagenes{
	margin-top: 100px;
}

@media screen and (max-width: 768px){
	.imagenes{
		width: 100%;
		height: 290px !important;
	}	
}

@media screen and (max-width: 385px){
	.imagenes{
		width: 100%;
		height: 102px !important;
	}	
}

.slides{
	width: $hundred-percent;
	margin-top: -60px;

	img{
		width: $hundred-percent;
	}

	.active{
		background: #000;
	}
}

.mapa{
	width: 100px;
	height: 462px;
	z-index: 1 !important;
}

/*Clase agregada por la librería de SlidesJS*/
.slidesjs-pagination{
	background: #424242;
	list-style: none;
	overflow: hidden;

	li{
		float: left;
	}

	li a{
		display: block;
		padding: 10px 20px;
		color: #fff !important;
		text-decoration: none !important;
	}

	li a:hover{
		background: green;
	}
}

.slidesjs-navigation{
	background: #000;
	position: relative;
	color: #fff !important;
	text-decoration: none !important;
	display: inline-block;	
	padding: 10px 20px;
	float: right;

	&:hover{
		background: green;
	}
}

#zoom{	
	opacity: 1;
	display: none;
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0px;
    width: $hundred-percent;
    height: 100%;
    line-height: 79;
    background-color: #ffffff;
}

#cerrar-zoom{
	display: none;
	position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;    
    color: white;
    text-align: center;
    line-height: 30px;
    background-color: grey;
    border: 1px solid black;
    z-index: 3;

    &:hover{
		color: red;
		cursor: pointer;
	}
}

.boton-zoom{
	display: none;
    width: 30px;
    height: 30px;
    background-color: grey;
    position: fixed;    
    border: 1px solid black;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 20px;

    &:hover{
		color: brown;
		cursor: pointer;	
	}
}

#zoom-in{
	bottom: 60px;
    right: 20px;
}

#zoom-out{	
	bottom: 22px;
    right: 20px;
}