@charset "UTF-8";
#contenedor-index {
  width: 100%;
  height: 100%; }

#contenedor {
  width: 100%;
  height: 700px;
  margin: 20px auto;
  margin-bottom: 0px;
  max-width: 1000px; }

.imagenes {
  margin-top: 100px; }

@media screen and (max-width: 768px) {
  .imagenes {
    width: 100%;
    height: 290px !important; } }
@media screen and (max-width: 385px) {
  .imagenes {
    width: 100%;
    height: 102px !important; } }
.slides {
  width: 100%;
  margin-top: -60px; }
  .slides img {
    width: 100%; }
  .slides .active {
    background: #000; }

.mapa {
  width: 100px;
  height: 462px;
  z-index: 1 !important; }

/*Clase agregada por la librer├¡a de SlidesJS*/
.slidesjs-pagination {
  background: #424242;
  list-style: none;
  overflow: hidden; }
  .slidesjs-pagination li {
    float: left; }
  .slidesjs-pagination li a {
    display: block;
    padding: 10px 20px;
    color: #fff !important;
    text-decoration: none !important; }
  .slidesjs-pagination li a:hover {
    background: green; }

.slidesjs-navigation {
  background: #000;
  position: relative;
  color: #fff !important;
  text-decoration: none !important;
  display: inline-block;
  padding: 10px 20px;
  float: right; }
  .slidesjs-navigation:hover {
    background: green; }

#zoom {
  opacity: 1;
  display: none;
  position: fixed;
  text-align: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  line-height: 79;
  background-color: #ffffff; }

#cerrar-zoom {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
  line-height: 30px;
  background-color: grey;
  border: 1px solid black;
  z-index: 3; }
  #cerrar-zoom:hover {
    color: red;
    cursor: pointer; }

.boton-zoom {
  display: none;
  width: 30px;
  height: 30px;
  background-color: grey;
  position: fixed;
  border: 1px solid black;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 20px; }
  .boton-zoom:hover {
    color: brown;
    cursor: pointer; }

#zoom-in {
  bottom: 60px;
  right: 20px; }

#zoom-out {
  bottom: 22px;
  right: 20px; }

/*# sourceMappingURL=index.css.map */
