body{
  background-image: url(../img/patron.jpg);
}

h1 {
  position: relative;
  left: 50%;
  width: 70%;
  margin: 20px 0px 10px -35px;
  font-size: 60px;
  color: rgba(0, 6, 255, 0.6);
  font-family: fantasy;
  text-align: center;
}

.container-login{
  width: 65%;
  text-align: center;
}

.form-group{
  position: relative;
  width: 60%;
  left: 50%;
}