#contenedor-monitoreo{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

section{
	width: 100%;
	height: auto;
}

#main-content{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: auto;
	white-space: nowrap;
}

aside{	
	width: 16%; 
	margin-top: 10px;
    margin-bottom: 60px;
    margin-right: 0px;
    display: inline-block !important;
}

#contenedor-estaciones{
    position: relative;
    width: 100%;    
    left: -8px;
}

	#contenedor-estaciones h3{
	    text-align: center;
	    padding: 5px;
	    margin-bottom: 0px;
	    color: green;
	}

.boton{
	position: relative;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: rgb(208,208,208);
}

.boton:hover{
	cursor: pointer;
}

	.boton:active {
		background-color: rgb(96,96,96);
		color: white;
	}	

#flecha-arriba {
	position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -20px;
    width: 0px;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid black;      
}

#flecha-abajo {
	position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -20px;
    width: 0px;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid black;      
}

	.boton:active #flecha-arriba{
		border-bottom-color: white; 
	}

	.boton:active #flecha-abajo{
		border-top-color: white; 
	}

#lista-estaciones{
	position: relative;
	margin: 0px;
	padding: 0px;
    background-color: aliceblue;
}

	#lista-estaciones li 
	{
	   	border-top: 1px solid black;
	    list-style: none;
	    padding: 10px;
	    width: 100%;
	    text-align: center;
	}

		#lista-estaciones li:nth-child(n+11){
			display: none;
		}

		#lista-estaciones li:last-child{
			border-bottom: 1px solid black;
		}

		#lista-estaciones li:hover{
			background-color: beige;
			cursor: pointer;
		}

#contenedor-streaming{
	display: inline-block;
	position: relative;
    width: 83%;
    height: 460px;
    margin: 80px 0px 0px 0px;
    vertical-align: top;
    text-align: center;    
}

	#contenedor-streaming img{
		width: 520px;
	    height: 440px;
	    line-height: 440px;
	    margin: auto;
	}

@media screen and (max-width: 768px){
	aside{
		display: block !important;
		width: 100%;
		text-align: center;
	}

	#contenedor-streaming{
		display: block;
		width: 100%;
		margin-top: 20px;
	}
}

.esconder{
	display: none;
}

.mostrar{
	display: block;
}

#info{
    width: 100%;
    color: green;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

button{
	width: 15%;
	height: 10%;
	position: relative;
	left: 50%;
	margin-left: -5%;
}