section{
	padding: 0px;
}

.advertisement{
	position: relative;
	top: -1px;
	width: 15%;	
	height: 100%; 
	font-size: 1.2em;
	text-align: center;	
	vertical-align: top;	
	display: inline-block;
	border: 1px solid black;
	background: rgba(4,199,7,0.3);
	color: white;

	.message{
		position: absolute;
		margin: 0px;
		opacity: 0;	
		padding: 10px;	
		text-align: center;
	}
}

#tabla1{
	width: 68% !important;
	height: 100%;
	display: inline-block;	
}