/* IMPORTANTE: AUN NO SE HA AGREGADO ARCHIVO SASS A LOS ESTILOS DE REGISTRO.HTML */
body{
	background-image: url(../img/patron.jpg);
}

h1 {
	margin: 20px 0px 10px 0px;
	font-size: 60px;
	color: rgba(0, 6, 255, 0.6);
	font-family: fantasy;
	text-align: center;
}

h3 {
	margin: 0px;
	color: rgba(0, 0, 0, 0.8);
	font-family: cursive;
	font-size: 25px; 
	text-align: center;
}

.container{
	width: 65%;
}
.opciones{
	position: relative;
	left: 50%;
	width: 30%;
	height: 20%;
	margin-left: -15%;
}