#contenedor-tarifas{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

#contenedorTarifas{
	width: 100%;
	text-align: center;

}

#contenedorIntegrados{
	position: relative;
	width: 430px;
	height: 1080px;
	top: 40px;
	left: 50%;
	margin-left: -215px;
	margin-bottom: 100px;
	text-align: center;
}

#img-tarifas{
	width: 400px;
}

.tarifa{
	padding-left: 25px;
	padding-right: 25px;
}

.perfil{
	padding-right: 5px;
	padding-left: 15px;
}

#tabla1{
	display: inline-block;
}

#tabla2{
	display: inline-block;
}

#tabla3{
	display: inline-block;
}

#tabla4{
	display: inline-block;
}

table.tablaTarifas{
	border: 3px solid green;
    border-collapse: collapse;
    width: 270px;
    height: 240px;
}
table#perfil1{
	border: 3px solid green;
}
table#perfil2{
	border: 3px solid red;
}
table#perfil3{
	border: 3px solid orange;
}
table#perfil4{
	border: 3px solid blue;
}
table.tablaTarifas tr:nth-child(even) {
    background-color: #eee;
}
table.tablaTarifas tr:nth-child(odd) {
   background-color:#fff;
}
table.tablaTarifas .encabezado1 {
    background-color: black;
    color: white;
}
table.tablaTarifas #encabezado2 {
    background-color: green;
    color: white;
    font-style: italic;
}
table.tablaTarifas #encabezado3 {
    background-color: red;
    color: white;
    font-style: italic;
}
table.tablaTarifas #encabezado4 {
    background-color: orange;
    color: white;
    font-style: italic;
}
table.tablaTarifas #encabezado5 {
    background-color: blue;
    color: white;
    font-style: italic;
}

table.tablaIntegrados{
	position: absolute;
	border: 3px solid black;
    border-collapse: collapse;
    width: 390px;
    height: 966px;
    left: 50%;
    margin-left: -190px;
}
table.tablaIntegrados tr:nth-child(even) {
    background-color: #eee;
}
table.tablaIntegrados tr:nth-child(odd) {
   background-color:#fff;
}
table.tablaIntegrados .encabezado1 {
    background-color: green;
    color: white;
    padding: 15px;
}

table.otras{
	border: 2px solid black;
    background-color: gray;
    color: white;
    width: 160px;
    display: block;
    margin: auto;
}

.otrasTarifas{
    display: block;
    width: 100%;
    font-size: larger;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.boton{
	position: relative;
	width: 390px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: rgba(19,18,18,0.4);
}

	.boton:active {
		background-color: rgba(30,25,162,0.4);
		color: white;
	}	

#botonArriba{
	position: relative;
	margin-left: -190px;
	left: 50%;
}

#botonAbajo{
	position: relative;
	margin-left: -190px;
	left: 50%;
	top: 89.4%;
}

#flecha-arriba {
	position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -20px;
    width: 0px;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid green;      
    border-radius: 25px;
}

#flecha-abajo {
	position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -20px;
    width: 0px;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid green;
    border-radius: 25px;
}

.iconos-tarifas{
	width: 45px;
	height: 25px;
}

.tituloHorario{
	color: green;
	text-align: center;
}